body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #ffcc00;
}

.burger-info {
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

.burger-info p {
    margin: 5px 0;
}